
-# sound + slide animation!


.card
  %ul.table-view
    %li.table-view-cell
      %a.push-right{href: "#"}
        %strong Ratchet documentation

%a{ href:"#myModalexample", class:"btn"} Open modal

#myModalexample.modal
  %header.bar.bar-nav
    %a.icon.icon-close.pull-right{href: "#myModalexample"}
    %h1.title Modal
  .content
    %p.content-padded xxx


%p Beacon status:
#id-screen-range-beacons
  .style-item-list
#id-screen-scan-beacons
  .style-item-list
